.bg-dark {
    background-color: #3baf4a !important;
}

.btn-secondary {
    color: #000000;
    background-color: #fff;
    border-color: #fff;
}

.btn:hover {
    color: #000000;
    background-color: rgba(155,155,155,.5);
    border-color: rgba(155,155,155,.5);
}

/*Tom's CSS*/

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}

.centered {
    text-align: center;
}

.hidden {
    display: none !important;
}

#header {
    width: 100%;
    background: rgb(52, 62, 61);
    border-bottom: 10px solid rgb(66, 171, 51);
    color: white;
    font-size: 200%;
}

#header #td-logo {
    width: 250px;
    text-align: left;
}

#header #td-title {
    width: calc(100% - 500px);
}

#search {
    width: calc(100% - 45px);
    background: lightgrey;
    padding: 10px 0 10px 45px;
}

.login {
    padding-left: 10px;
    font-size: 150%;
    border: 2px solid rgb(66, 171, 51);
    border-radius: 5px;
    width: 300px;
    height: 51px;
}

#results {
    padding-top: 25px;
}

#result-table {
    width: 95%;
    margin: auto;
    text-align: center;
}

.search-result {
    width: min-content;
    border: 5px solid grey;
    border-radius: 25px;
    overflow: hidden;
    vertical-align: top;
    display: inline-block;
    margin: 0 25px 25px 25px;
}

.search-result img {
    border-bottom: 5px solid grey;
}

.search-result p {
    margin: 5px;
}

.sr-name {
    font-size: 150%;
    font-weight: bold;
}

.button {
    color: white;
    background: rgb(66, 171, 51);
    border-radius: 5px;
    text-align: center;
    width: 300px;
    font-size: 150%;
    padding: 10px;
}

/*End Tom's CSS*/